
.oszlop-1{
    text-align: justify;
}
.Kalória-Boom{
    text-align: center;
}
body{
    padding: 10px;
    background-color: rgb(135, 160, 126);
    font-family:Lucida;
    font-style: italic;
    font-size: 18px;
}
button{
    color:white;
    background-color: rgb(42, 56, 42);
    font-family:Lucida;
    font-style: italic;
    font-size: 14px;
    width:140px;    
}
.regisztracios_sor{
    text-align: right;
}
.lenyilo_ablakok{
    text-align:center;
}




